
button:hover {
    opacity: 0.8;
}

.form__btn{
    width: 280px;
    height: 37px;
    margin-top: 50px;
    background: var(--color-button);
    border-radius: 8px;
    color: var(--color-white);
    border: none;
}

button svg{
    display: none;
}
