.chat-list{
    width: 310px;
    background-color: #FBFBFB;
    height:100%;
}

.chat__info{
    display: flex;
    flex-direction: column;
}

.chat__link{
    margin-left: auto;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    color: var(--color-text-form);
    border: none;
    background-color: transparent;
}

.chat__list-search{
    margin: 10px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #EFEFEF;
    padding: 0 10px;
}

.chat__list-search:focus-visible{
    outline: none;
}

.chat__list-search::-webkit-input-placeholder {
    text-align:center;
}

.chats__wrp{
    overflow-y: auto;
    max-height: 620px;
}

.chats__wrp::-webkit-scrollbar {
    width: 4px;            
}

.chats__wrp::-webkit-scrollbar-track {
    background: transparent; 
}

.chats__wrp::-webkit-scrollbar-thumb {
    background-color: var(--color-border-form); 
    border-radius: 4px;
}
