<div class="chat__wrp">
    <div class="wrp__user">
        <img class="user__img" src="#" width="34" height="34">
        <p class="user__name">Вадим</p>
        <button class="user__button">
            <svg width="3" height="16" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="1.5" cy="2" r="1.5" fill="#1E1E1E"/>
                <circle cx="1.5" cy="8" r="1.5" fill="#1E1E1E"/>
                <circle cx="1.5" cy="14" r="1.5" fill="#1E1E1E"/>
            </svg>
        </button>
        <div class="user__popup hidden">
            {{> 'user-popup/user-popup'}}
        </div>
    </div>
    <div class="wrp__msgs">
        {{> 'wrp__msgs/wrp__msgs'}}
    </div>
    <div class="wrp__send">
        {{> 'send-msg/send-msg'}}
    </div>
</div>