{{!< desktop}}
<section class="login__section registration">
    <h2 class="login__title"> Регистрация </h2>
    <form>
        {{> 'form/form' save=true label="Пароль" title="Зарегистрироваться"}}
    </form>
    <a href="../login/login.hbs" class="form__link btn__events">Войти</a>
</section>
