.user__menu{
    padding: 0;
    height: 100%;
    padding-left: 20px;
}

.user__menu li{
    list-style-type: none;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.user__menu span{
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}