.user__menu{
    padding: 0;
    max-height: 100%;
    padding: 0 20px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.user__menu li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.user__menu span{
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.disabled{
    opacity: 0.6;
}

.user__popup-btn{
    border: none;
    background: transparent;
    margin: 0;
    height: 25px;
    border: 1px solid var(--color-button);
    border-radius: 5px;
}

.user__menu .form__label{
    display: flex;
    flex-direction: column;
}

.user__menu .form__input{
    width: 100%;
}