{{!< desktop}}
    <div class="error__box">
        <h1 class="error__title">404</h1>
        <h4 class="error__description"> Не туда попали</h4>
        <a class="error__link btn__events" href="./index.hbs">Назад к чатам</a>
    </div>
