{{!< desktop}}

<section class="login__section">
    <h2 class="login__title"> Вход </h2>
    <form>
        <label class="form__label">
            Имя пользователя
            <input class="form__input" type="text" name="login" placeholder="Введите имя"  required>
        </label>
        <span class="login__error hidden">Неверный пароль</span>
        <label class="form__label">
                Пароль
        <input class="form__input" type="password" name="password"  placeholder="Введите пароль" required>
        </label>
        <input class="form__btn" type="submit" name="submit" value="Авторизоваться">
    </form>
    <a href="./registration.hbs" class="form__link">Нет аккаунта?</a>
</section>
