{{!< desktop}}

    <section class="login__section">
        <h2 class="login__title"> Регистрация </h2>
    <form action="/login" method="post">
        {{> 'form/form'}} 
        <input class="login__btn" type="submit" name="submit" value="Зарегистрироваться">
    </form>
    <a href="./login.hbs" class="chat__link login__link">Войти</a>
    </section>
