.chats__item{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.chats__item::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 290px;
    background-color: #EAEAEA;
    bottom: 0
}

.chat__description{
    flex-grow: 1;
    position: relative;
    padding: 10px;
    padding-top: 0;
}

.chat__last-update{
    font-size: 9px;
    color: #999999;
    position: absolute;
    right: 0;
    top: 0;
}

.chat__msg-count{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: #3369F3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
}

.chat__name{
    color: #1E1E1E;
    font-weight: 600;
    font-size: 13px;
}

.chat__last-msg{
    color: #999999;
    font-size: 12px;
}

.chat__autor{
    color: #1E1E1E;
    font-weight: 600;
}

.chat__img{
    background-color: #e5e5e5;
    border-radius: 50%;
}

.chat-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-left: 1px solid #ededed;
}