.profile__link{
    width: 510px;
    padding: 10px 0;
    color: #3369F3;
    font-weight: 500;
    font-size: 13px;
    border-bottom: 1px solid #EAEAEA;
}

.form__label{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
    font-weight: 500;
    font-size: 13px;
}

.form__input{
    border: none;
    text-align: right;
    color: #999;
    width: 300px;
    background-color: transparent;
}


.form__input::placeholder {
    color: #999;
    font-family: Tahoma, Verdana, sans-serif;
}

.form__input:focus-visible{
    outline: none;
}

.form__btn{
    width: 280px;
    height: 37px;
    margin-top: 50px;
    background: #3369F3;
    border-radius: 8px;
    color: #fff;
    border: none;
}

.form__link{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    text-decoration: none;
    color: #3369F3;
    font-size: 11px;
    text-align: center;
}
