:root{
  --color-border: #ededed;
  --color-background: #fbfbfb;
  --color-text: #1E1E1E;
  --color-button: #3369F3;
  --color-exit: #FF0000;
  --color-border-form: #EAEAEA;
  --color-text-form: #999999;
  --color-white: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p{
  margin: 0;
}

.container{
  max-width: 100%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: var(--color-text);
  width: 1280px;
  height: 720px;
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 50px auto 0 auto;
}

.btn__events:hover{
  opacity: 0.6;
}

.btn__events:active{
  opacity: 0.8;
}

.edit,
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 60px 0;
  width: 100%;
  background-color: #fbfbfb;
  position: relative;
}

.edit .form__label,
.profile .form__label{
  width: 510px;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile__link--back{
  width: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #EAEAEA;
  background: var(--color-background);
}

.profile__arrow-back{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--color-button);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: transparent;
  color: #fff;
}

.login__section{
  width: 610px;
  margin: 0 auto;
  background: rgb(251,251,251);
  background: linear-gradient(0deg, rgba(251,251,251,1) 62%, rgba(51,105,243,0.258140756302521) 100%);
  padding: 0 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.login__title{
  text-align: center;
  margin-top: 40%;
} 

.hidden {
  display: none;
}

.form__link{
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  text-decoration: none;
  color: var(--color-button);
  font-size: 11px;
  text-align: center;
  border: none;
  background-color: transparent;
}

.profile__link{
  width: 510px;
  padding: 10px 0;
  color: var(--color-button);
  font-weight: 500;
  font-size: 13px;
  border-bottom: 1px solid #EAEAEA;
}

.form__btn{
  width: 280px;
  height: 37px;
  margin-top: 50px;
  color: var(--color-button);
  border-radius: 8px;
  color: #fff;
  border: none;
}
